// Your footer style
#footer {
  background: #797979;
  padding: 20px 0;
  color: #CCCCCC;
  margin-top: 50px;
}
#footer p {
  font-weight: lighter;
}

#footer a {
  color: #CCCCCC;
  font-size: 22px;
  letter-spacing: 20px;
  transition: color 0.2s ease;
}
#footer a:hover{
  color: red;
  opacity: 0.8;
}
