/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  background-color: inherit;
  border: none;
  font-weight: lighter;
}
.alert-info {
  color: #27ae60;
}

.alert-warning {
  color: $red;
}

.alert-dismissible {
  color: black;
}
