.big-red-btn {
  color: #E80000;
}

// TODO: rename to button overline
.btn-underline{
  color: white;
  text-decoration: none !important;
  padding-bottom: 0px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
    &:hover {
      color: white;
      border-top: 4px solid white !important;
    }
    &:focus{
    outline: none;
    outline-offset: 0px;
    color: white;
    }
}

.subtle-btn {
  color: #333333;
  font-weight: lighter;
  font-size: 18px;
  text-decoration: none !important;
}






