.big-red-btn {
  color: #E80000;
}

.btn-medium {
  color: #E80000;
  border: 1px solid #E80000;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #E80000;

.btn-underline{
  color: white;
  text-decoration: none !important;
  padding-bottom: 0px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
    &:hover{
      color: white;
      border-top: 4px solid white !important;
    }
}
