.projection-card{
  margin: 15px;
  height: 130px;
  background-color: white;
  box-shadow: 0px 1px 0px 1px rgba(158, 158, 158, 0.5);
  border-radius: 4px;

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

  display: flex;
  justify-content: space-between;
}

.movie{
  width:30%;
}

.movie-image {

  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: white;

  height: 100%;
  width: 100%;
  position: relative;

  .movie-date {
  margin: 0;
  position: absolute;

  bottom: 10px;
  left: 10px;

  padding: 5px;
  border: 2px solid white;
  border-radius: 2px;

  p{
    padding: 0px;
    margin: 0px;
  }
  }
  h2 {
    margin: 0;

    position: absolute;

    top: 10px;
    left: 10px;
  }
}

.projection{
  position: relative;
  width: 100%;
  display: flex;
  padding: 5px 10px;

  // div {
  //   position: absolute;

  //   top: 10px;
  //   left: 10px;
  // }

  .title {
    a {
      font-size: 1.1em;
      font-weight: bolder;
      color: black;
      text-decoration: none;
    }
  }

  .participants {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      margin-right: 10px;
    }
  }

  h2, p {
    padding: 0px;
    margin: 0px;
  }

}

.map-projection {
  flex: 0 0 20%;
  display: flex;
  justify-content: center;
  background-color: white;
  opacity: 1;
  transition: ease 0.1s;
  position: relative;

  img {
    width: 100%;
    border-radius: 5px;
    position: absolute;
    top: 7px;
  }
  span {
    color: grey;
    opacity: 0;
    position: absolute;
    top: 45px;
  }
  &:hover {
    opacity: 0.4;
  }

  &:hover span {
    opacity: 1;
  }
}

.projection-details {
  flex: 0 0 80%;
}

.booking{
  width:20%;
  border-left: 1px dashed rgba(158, 158, 158, 0.5);
  padding: 10px;

  h2 {
    margin: 0;
    padding-bottom: 20px;
  }
}
