#search {
  margin-top: 10px;
}

#search-input {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: 0;
}

#search-submit {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-left: 0;
  padding: 0px 16px;
  height: 49px;
  margin-left: -3px
}
