// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.overline{
  font-size: 80px;
  color: white;
  text-decoration: none !important;
  padding-bottom: 0px;
}
